
h1 {
    width: 217px;
    height: 44px;

    font-family: 'jsMath-cmbx10';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    /* identical to box height */
    
    color: #000000;}




